[2013-10-09 14:37] maroofsaeed opened #1 "No dist folder"
Hi Sir,

Thanks for creating this awesome module. I have some few questions as i am using your source code in eclipse to build this module but it failed to build saying:

Drawer.java uses or overrides a deprecated API.

Can you please send the compiled module zip file or help to sort the errors?

Waiting for your reply

Regards,
Maroof Saeed
maroof.saeed@gmail.com

[2013-10-13 12:17] metacortex commented on #1
I compiled in command line:

check this for how to compile titanium module in command line
http://docs.appcelerator.com/titanium/3.0/#!/guide/Android_Module_Development_Guide-section-29004945_AndroidModuleDevelopmentGuide-Building

and update android support v4 library jar file to the latest version in your titanium sdk installation.

for my case (osx)
~/Library/Application Support/Titanium/mobile

[2013-10-13 12:25] maroofsaeed commented on #1
Ok sir but can you please give a favour to compile this module so that I'
ll use it
On Oct 13, 2013 5:17 PM, "Son Jung Wook" notifications@github.com wrote:

[2013-10-14 05:42] vagrantinoz commented on #1
release 1.0.1 >> com.tripvi.drawerlayout-android-1.0.1.zip

[2013-10-14 05:42] #1 closed, assigned to nobody

[2014-01-13 07:44] sschueller opened #2 "Compiled version?"
Is there a compiled version of this module available for Ti SDK 3.2.0?

Thanks

[2014-01-13 21:00] ricardoalcocer commented on #2
I was able to compile it but I'm still getting some errors.  I agree.  A compiled version would be ideal.

[2014-01-14 05:42] metacortex commented on #2
https://github.com/Tripvi/Ti.DrawerLayout/releases

I am using this version(1.0.1) and have no problem with  3.2.0.GA.

Check android support library v4 version in the titanium sdk installation,
and update android support v4 library jar file to the latest version.

for osx
~/Library/Application Support/Titanium/mobilesdk/osx/3.2.0.GA/android

the file size of android-support-v4.jar is 554kb
(old v

[2014-01-14 10:30] manumaticx commented on #2
The new version is scheduled for the next minor release of titanium
https://jira.appcelerator.org/browse/TIMOB-15264

[2014-01-14 10:42] sschueller commented on #2
@metacortex Thanks for the compiled version. I will tried it out when I get a chance,

@manumaticx  I thought the DrawrLayout and ActionBar are two different things? The DrawerLayout is the drag menu on the left like in the gmail app where the ActionBar is the top menu bar.

[2014-01-14 10:47] manumaticx commented on #2
@sschueller yes. But they depend on the same Android Support Library. The ticket description is just a bit confusing.

[2014-01-14 11:40] timanrebel opened #3 "Add hamburger (ActionBarDrawerToggle) in ActionBar"
Would it be possible to add support for the official hamburger button (the ActionBarDrawerToggle) in the Actionbar?

image: https://developer.android.com/design/media/navigation_drawer_indicator_big.png

url: https://developer.android.com/design/patterns/navigation-drawer.html

[2014-01-14 13:07] metacortex commented on #3
maybe possible if titanium supports android.support.v7.app.ActionBarActivity
https://jira.appcelerator.org/browse/TIMOB-15021

For 3.2.0.GA, I don't think it is possible without customizing titanium sdk itself.
(especially considering android 2.X)

Currently I am using custom titanium View (looks like actionBar)
and I have implemented hamburger button animating with offset value in 'drawerslide' e

[2014-01-14 15:04] timanrebel commented on #3
Not a bad idea at all. Thanks!

[2014-01-14 17:16] ricardoalcocer commented on #2
@metacortex, I updated the library on the SDKFolder/android...it was indeed the old one.

Still, I'm getting an error at runtime with both your version, and the one I compile myself.  I'm using the sample code provided with the module.  In case it helps, this is the error:

[ERROR] TiApplication: (main) [24,24] Sending event: exception on thread: main msg:java.lang.VerifyError: com/tripvi/drawerla

[2014-01-15 04:20] metacortex commented on #2
@ricardoalcocer
check android version (newer than android-10), ndk (android-ndk-r9c)
ant clean and rebuild.
check 'ant install' log messages whether correct version of 'android-support-v4.jar' is used in building process.

I think most of 'java.lang.VerifyError' runtime error occurs in case of mismatched library(jar)

[2014-01-15 17:39] ricardoalcocer commented on #2
@metacortex Hi.  Thanks for the pointers.  However your instructions relate to building the module.  My error is at runtime on the actual Titanium app using your binary.  The app builds and gets pushed to the device/emulator, but crashes before showing the first screen and that error is displayed on the terminal.

[2014-01-15 18:48] metacortex commented on #2
Yes. runtime error can be occurred.

1) If you compile module from source codes, DrawerLayer symbol exception will be raised byjavac compiler.

2) But in case you have imported as a compiled-module to titanium project, DrawerLayer symbol exception will be raised when android-support libray got referenced.

another method to check the library version is unpacking android apk.

[2014-01-16 09:04] sschueller commented on #3
@timanrebel I added the hamburger to this actionbar: https://github.com/sschueller/actionbarclone/ . It still needs some tiding up but it works.

[2014-01-16 15:26] metacortex commented on #3
@sschueller Cool

[2014-01-20 16:38] #2 closed, assigned to nobody

[2014-01-29 01:46] ricardoalcocer opened #5 "Demo App"
I created a Demo App (https://github.com/ricardoalcocer/Ti.DrawerLayout-Demo-Alloy-App).  Feel free to clone it and save it as part of your repo, or simply pointing to it.

Thanks for building and releasing this!

[2014-01-29 07:33] metacortex commented on #5
Thank you :)

Link to Demo app was added to README page.

[2014-01-29 21:39] #5 closed, assigned to nobody

[2014-02-20 16:19] ssenior45 opened #6 "Multiple navigation"
I've worked out how to open a new window when clicking the menu - let's call that win1, but when I then open win2 from win1, depending on how I do it, I either have no access to the menu from win2, or I can access the menu but I can't get back to win1 - the back button takes me out of the app.

My project is a clone of Ricardo's demo app with the only the following modifications:

**menu.js**

[co

[2014-02-21 11:42] metacortex commented on #6
It is native behavior of android drawer layout to work like scenario 1 & 2.
(Like Gmail, Google+ ...)

For scenario1,
You can add drawer-layout-menu to win2 (and every window you want to use drawer menu).

or

For scenario2,
use custom androidback event handler that keeps the old view history and pop the last one when the back button is clicked.

[2014-02-24 13:13] ssenior45 commented on #6
Thanks for the response. I'm new to Android, and after a bit of playing around with the Google apps, you are correct - scenario 1 is the correct behaviour.

[2014-02-24 13:13] #6 closed, assigned to nobody

[2014-03-20 03:50] ricardoalcocer commented on #3
I was able to hack the "hamburger icon" into the native ActionBar.  Clone this branch: https://github.com/ricardoalcocer/Ti.DrawerLayout-Demo-Alloy-App/tree/hamburger_hack

Basically I'm using a custom ActionBar Theme and replacing the default homeAsUp icon with ic_drawer.png.  It's a hack with it's own drawbacks (the icon is not animated and any other activity will have that icon instead of the u

[2014-03-28 23:42] justin3636 opened #7 "MapView V2"
I've been trying to add a MapView to the centerView of the Navigation Drawer, but every time, I get a Resource Not Found error. Is anyone else experiencing this?

[2014-05-05 22:00] ingo commented on #3
Note that TIMOB-15021 is now implemented in release 3.3.0, so you should be unblocked there

[2014-05-07 09:50] MatteoRosina opened #9 "Cannot assign version 1.0.2 to a project"
I installed the module from the release zip through the Install Mobile Module menu in Titanium Studio (and then I tried manually too) and if I try to add it to a project it isn't available.
It went all ok when I then tried the same with version 1.0.1.

Mac OS X 10.9.2
Titanium Studio 3.2.3

[2014-05-09 13:08] ankesh27 opened #10 "cannot built"
Hey, can you please share the build zip file under dist. I am not able to build the same

[2014-05-09 13:18] MatteoRosina commented on #10
@ankesh27 if you mean the release versions you can find them here https://github.com/Tripvi/Ti.DrawerLayout/releases

[2014-05-12 05:29] ankesh27 commented on #10
Why does it says that the module is not compatible with Current version of SDK as I am using Titanium SDK 3.2.0.GA and I suppose minimum SDK in the module is 3.1.X.GA

can you please help on this.

[2014-05-13 05:29] ankesh27 commented on #10
Version 1.0.1 crashes the app when I try to run a demo app with Titanium SDK 3.1.3 and higher
Version 1.0.2 doesnot even install (Attached is the issue)
![sserror](https://cloud.githubusercontent.com/assets/6457782/2953622/39f43712-da5f-11e3-94f4-d20fedf0bf79.png)

[2014-05-13 05:42] metacortex commented on #10
@ankesh27 can you post your crash log? in full version

The module zip file in the release page have been compiled with 3.2.0.GA, and I checked it works well.

App crashing issue could be caused by android support library version issue.
please check this #2

[2014-05-13 05:48] metacortex commented on #10
or can you try to install module by manually?

I'm not using Ti Studio.

Just unzip module zip file into  'modules/android' dir,
and add module entry to your tiapp.xml.

[code]

[2014-05-13 06:06] ankesh27 commented on #10
@metacortex Yes that was the issue of android-support-v4. I just tried with SDK 3.2.3.GA and It worked. Same was the case with 1.0.2. Both are working now.
Thanks for a quick response.

Cheers!

[2014-05-13 06:06] #10 closed, assigned to nobody

[2014-05-13 11:05] metacortex commented on #7
After some digging this issue,

I found these:

'ti.map' is implemented as Fragment.
https://github.com/appcelerator-modules/ti.map/blob/4b74f72fc707dc2343c6a2d75ab1869cbeb4c838/android/src/ti/map/TiUIMapView.java

so adding centerView should be handled by FragmentManager and Transaction.
http://stackoverflow.com/questions/19441061/android-drawerlayout-with-mapfragment-black-screen-when-returning-

[2014-05-13 11:08] metacortex commented on #9
It looks that this problem is similar to #10

android support-library v4 version issue

[2014-05-15 07:25] metacortex commented on #7
https://jira.appcelerator.org/browse/TIMOB-13864
https://github.com/appcelerator/titanium_mobile/pull/5462

[2014-05-15 09:39] MatteoRosina commented on #9
Inside both directories 3.2.0.GA and 3.2.3.GA I have the latest android-support-v4.jar which is 648 KB.
Clean, rebuild, etc. done, but titanium studio still only sees version 1.0.1 and if I force version 1.0.2 I get:
![schermata 2014-05-15 alle 11 34 49](https://cloud.githubusercontent.com/assets/2690537/2982371/30c12cb6-dc14-11e3-9b36-f85a0ca83538.png)

It's definitely a minor problem 'cause I'm

[2014-05-15 19:31] ricardoalcocer commented on #3
Any chance this could be reopened, now that TIMOB-15021 was fixed?

[2014-05-16 07:53] metacortex commented on #3
http://developer.android.com/training/implementing-navigation/nav-drawer.html#ActionBarIcon

It looks like that main Activity should be sub-classed.

I'm just trying to avoid it.
Although I think Titanium SDK level implementation will be more easier.

[2014-05-16 13:38] metacortex commented on #3
just released 1.1.0

supporting native actionBar

[2014-05-16 13:38] #3 closed, assigned to nobody

[2014-05-16 17:16] ricardoalcocer commented on #3
Thank you @metacortex .  Working for me with 3.3.0.  One question though, since Titanium now supports ActionBar Compat to bring the ActionBar to all Android version, does this means that this module will also work on all Android versions?

[2014-05-17 12:19] metacortex commented on #3
Yes. I hope so.

Titanium 3.3.0 is implemented to use ActionBar and ActionBarActivity from support-library.

Currently minSdkVersion="10" and targetSdkVersion="14",
and I think minSdkVersion should be 7 or later.

[2014-05-20 07:17] ankesh27 opened #12 "1.1.0 Theme Isssue"
Hey, I tried building the app(test app) using 1.1.0 Drawer version and below are the errors I saw

Also just a question, why is it on 3.3.0 when I suppose this SDK version is still in pre-release phase.

TiApplication: (main) [908,908] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mydala/org.appcelerator.titanium.TiActivity}: ja

[2014-05-20 07:39] metacortex commented on #12
Yes, you need to install pre-release version of Titanium 3.3.0,
because of native actionBar feature.

Or you can use old 1.0.2 version.

[code]

You can uninstall it anytime or select 3.2.0.GA as default.

[code]

[2014-05-20 07:54] ankesh27 commented on #12
Okay, but what is the error ? I am using pre release 3.3.0 and getting those errors.

[2014-05-20 08:31] metacortex commented on #12
check tiapp.xml and ensure target sdk version in android manifest section.

[code]

targetSdkVersion should be 14 at least.

[2014-05-21 13:26] ankesh27 commented on #12
Things are working fine, I was using HOLO theme and the module supports AppCompact as a base theme.

Do you have an Idea how to hide the left actionbar Icon(the one which animates) when there is only Right Nav menu...

[2014-05-21 15:21] metacortex commented on #12
You can set displayHomeAsUp property as false after window opened (activity became available).

http://docs.appcelerator.com/titanium/3.0/#!/api/Titanium.Android.ActionBar-property-displayHomeAsUp

[code]

[2014-05-22 05:20] ankesh27 commented on #12
Yes True, this is the first thing I tried, but them if we set displayHomeAsUp as False then there is no Back button too. I think there should be back button if no Left Drawer.

Please correct me if I am wrong.

[2014-05-22 07:46] metacortex commented on #12
Is is the top-level window? (the first page user can see)

I think the top-level window don't need to have back button.
https://developer.android.com/design/patterns/navigation-drawer.html

I checked some apps,
and I found that the top-level window has no back button generally.
They just have logo.

[2014-05-22 08:35] ankesh27 commented on #12
It's the Sub Window. Parent window has the left drawer and the child window has the right drawer.

Something like the parent window has categories(in left drawer) and child window has the Sub categories(right drawer).

[2014-05-22 12:40] metacortex commented on #12
ok. I just added 'drawerIndicatorEnabled' property (which will be passed to `setDrawerIndicatorEnabled()` of `ActionBarDrawerToggle`).

so you can set 'drawerIndicatorEnabled' as false, then the back arrow will be appear instead of drawer indicator icon.

use 1.1.1 version

[2014-05-25 14:46] viezel opened #17 "Bug: No drawer view found with gravity LEFT"
First of all - great great drawer you got here! Mad props from me !

It seems like you did not instantiate the drawer correctly. I get the following stack trace, when trying to toggle the left drawer. (version 1.1.1)

[code]

Hope it can be solved.
Cheers.
Mads

[2014-05-27 00:55] metacortex commented on #17
can you post some test code?

[2014-05-27 01:02] metacortex commented on #9
#16 could help this.
You can try 1.1.1-fix.

[2014-05-27 06:21] viezel commented on #17
I just used your example code from the module.

[2014-05-29 14:45] Bradleycorn opened #18 "android.support.v7 cannot be resolved"
Followed the instructions in the Readme to build in Titanium Studio. After importing the project, I get an error on line 32 of Drawer.java

[code]

Error is: "The import android.support.v7 cannot be resolved"

Do I need to add a reference to the v7 support library in the classpath similar to the reference to v4?

[2014-05-30 12:55] metacortex commented on #17
I can't reproduce the error.
Would you provide more info about os, version, environments?

[2014-05-30 13:08] metacortex commented on #18
Check your titanium sdk version.

3.3.0.XXXX is required.
(begins to support v7 officially)

edit `tiapp.xml` and `build.properties`

[2014-06-04 06:48] manojdcoder commented on #7
I'm facing the same issue. Does anyone here got a solution for this?

[2014-06-04 22:27] asterixcapri opened #19 "Using Ti.DrawerLayout with TabGroup"
Hi, I'm trying to use Ti.DrawerLayout in an app with tabGroup. If I insert just one DrawerLayout everything is fine, but it creates problems with more than one.

Here is my example code:

[code]

When I tap on the second tab, the content of it is shown on the first tab. Is there a solution to this problem?

Thanks
Alex

[2014-06-07 23:18] asterixcapri commented on #7
Same problem for me. Is there a solution? Thanks.

[2014-06-09 04:58] johnnnysc22 commented on #7
Same for me. Force closing when adding a map to the centerView.

[2014-06-10 20:47] rajeshg opened #20 "Compiled module"
Hi,

Is there a compiled version of your module v1.1.1? The demo app seems to be using v1.0.1. So no luck there.

Tried to get the module compiled from source on a Windows machine but the compiler seems to keep failing.

Any pointers would be great. Thanks.

[2014-06-16 06:21] metacortex commented on #20
check releases
https://github.com/Tripvi/Ti.DrawerLayout/releases

[2014-06-16 06:22] #12 closed, assigned to nobody

[2014-06-18 11:18] manojdcoder commented on #7
Did any one here, get the solution for this?

[2014-06-24 11:26] manumaticx opened #22 "InstantiationException: can't instantiate class com.tripvi.drawerlayout.Drawer$ContentWrapperFragment"
Sometimes, my app is crashing on resume.

[code]

It's hard to reproduce: when I'm leaving the App with back button or home button and open it again immediately everything works fine. But if I wait some time after sending it to background it crashes with the above exception on resuming and restarts. Do you have any idea what could be the reason?

_(Testing on Nexus 5 with 4.4.3 on Titanium SDK 3.3

[2014-06-24 14:50] manumaticx opened #23 "Use on different windows"
Hi,
I didn't managed to get the drawer working on a second heavyweight window. Is this possible?
Thanks

[2014-06-25 09:45] manumaticx commented on #22
Steps to reproduce:
- open app
- press home button
- wait for about 20 minutes
- open app again
- should crash with the above exception

I'm working on a fix. PR is in the making.

[2014-06-26 01:54] johnnnysc22 opened #25 "Req: Custom drawer icon property"
I know I can go into the platform folder and update the ic_drawer.png icon, but I use a json file to easily update the theme of my app. I have a dark and light theme folder each containing appropriately colored ActionBar icons. To be able to update which ic_drawer image to use dynamically like i do other icons would be great!

Thanks (and this module is fantastic!!!)

[2014-07-09 14:02] ankesh27 opened #26 "Use TiDrawerLayout with viewpager"
Hello,

Any Idea of how do I use TiDrawerLayout with  viewpager(https://github.com/dreamlearn/viewpager).

I am not sure what will be the centerView..

Help appreciated..

Cheers!

[2014-07-09 14:03] ankesh27 commented on #26
Error says
[ERROR] :  TiApplication: (main) [230,163640] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mydala/org.appcelerator.titanium.TiActivity}: java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.; Titanium 3.3.0,2014/05/19 17:41,0f50581
[ERROR] :

[2014-07-10 07:03] ankesh27 commented on #26
My Bad, Sorry. I have resolved it, was making silly mistake by adding center view twice(One on TiDrawerLayout and secondly on main window).

Cheers!
Ankesh

[2014-07-10 07:03] #26 closed, assigned to nobody

[2014-07-11 09:50] manumaticx commented on #23
Got it working.

[2014-07-11 09:50] #23 closed, assigned to nobody

[2014-07-11 10:31] manumaticx opened #27 "drawer toggle should not respond to right view"
I've set up a drawer layout with a filter view as rightView but without a leftView. It works fine except for the drawer toggle icon which responds to the right view.

I think the toggle icon should only be set up if there is a left view and only respond to the left view.

[2014-07-11 12:30] manumaticx commented on #27
Okay, I didn't see the `drawerIndicatorEnabled` property. It's not documented. It's also possible to use this to disable the drawer indicator. But I think the PR #28 still makes sense. Cheers!

[2014-07-13 18:39] ricardoalcocer opened #30 "Setting the ic_drawer drawable when using custom Android Style generated by http://jgilfelt.github.io/android-actionbarstylegenerator"
The drawer icon (hamburger) is not being displayed when using a custom ActionBar Style.  The App Icon is being used instead.  See here:

![](http://drops.ricardoalcocer.com/drops/Screen%20Shot%202014-07-13%20at%2011.34.59%20AM-KR0TCvQKDA.png)

To replicate, create a custom ActionBar Style (inheriting from AppCompat).  Download the resources and decompress to <APP_ROOT>/platform/android/.  Then set

[2014-07-14 13:25] manumaticx commented on #7
Any news on this? I'm not able to find a workaround, I don't even know what actually causes this.

[2014-07-14 13:45] manumaticx commented on #30
@ricardoalcocer Which Android version is that?

[2014-07-14 13:47] ricardoalcocer commented on #30
It was a Genymotion emulator with 4.4 ... Don't remember the minor.

[2014-07-14 13:58] manumaticx commented on #30
I just asked because I have seen a similar bug on the latest Android (L preview) where image resources were mixed up...
But I'm not able to reproduce this bug with the same setup. Tested with different Android versions on emulator and device.

[2014-07-14 14:01] manojdcoder commented on #7
I tried a lot to get a solution, but no luck. I think, the problem should be with ti.map module and not with this module.

It seems the crash is happening at viewProxy.getOrCreateView() as it is not able to get the view where map view is actually a fragment.

[2014-07-14 14:05] ricardoalcocer commented on #30
I'll check the exact version and will let you know.
On Jul 14, 2014 6:59 AM, "Manuel Lehner" notifications@github.com wrote:

[2014-07-18 22:15] ricardoalcocer commented on #26
@ankesh27, how were you able to add the ViewPager to the DrawerLayout?  Are you configuring the "tabs" and adding them as the centerView of the DrawerLayout module?  I'm trying but getting errors.

[2014-07-19 05:25] ankesh27 commented on #26
@ricardoalcocer Can you please share your error code. I am out somewhere, Will share the sample code Soon.

[2014-07-22 04:36] ankesh27 commented on #26
@ricardoalcocer  did you find the solution or shall i share the code ?

[2014-07-22 16:14] ricardoalcocer commented on #26
Hi, no I haven't.  Last time I tried was having issues (don't remember exact message).  If you could share a working sample, that would be great.  Did you add the ViewPager straight to the centerView?

[2014-07-25 07:07] ankesh27 commented on #26
@ricardoalcocer

[code]

//// END OF CODE
PS : tab1view, tab2view resp are the views you want to show on tabs..

Please ask in case of any question/concern

Cheers!
Anki

[2014-07-25 09:00] manumaticx commented on #30
@ricardoalcocer Can you test this with my fork? I've just added a dist for 1.1.3
https://github.com/manumaticx/Ti.DrawerLayout
You can set a custom drawer indicator image with this.

[code]

Maybe this fixes your bug.

[2014-07-25 16:55] ricardoalcocer commented on #30
That's great.  I'll try and will let you know.

R

[2014-07-29 13:53] asleson opened #31 "Runtime Error"
I managed to build Ti.DrawerLayout by following the instructions.  One thing not mentioned in the instructions that i had to do was download the Android NDK (I downloaded the latest, r10) and provide its path in build.properties.

After that I was able to build and publish the module.

However, when I attempted to try it out in a test project (I just copied the Alloy code shown) the app failed wit

[2014-07-29 14:23] manumaticx commented on #31
@asleson Under [releases](https://github.com/Tripvi/Ti.DrawerLayout/releases) you can download the packaged module. Latest is [com.tripvi.drawerlayout-android-1.1.1.zip](https://github.com/Tripvi/Ti.DrawerLayout/releases/download/1.1.1/com.tripvi.drawerlayout-android-1.1.1.zip)

I have also uploaded a newer version in my fork: https://github.com/manumaticx/Ti.DrawerLayout/tree/master/dist

[2014-07-29 17:50] asleson commented on #31
@manumaticx  After I posted the issue I stumbled onto your branch and downloaded the master, which included the package module.  I tried it out and it works.  Thank you!!!!

I didn't even notice the "Releases" tab on the master home page.  Thank you for pointing that out!

[2014-07-29 17:50] #31 closed, assigned to nobody

[2014-07-29 18:54] Bradleycorn opened #32 "Window backgrounds get overridden?"
I setup a simple application based on the Usage example in the readme. It works fine ... But, if I specify a background image (or background color) for a window that contains a DrawerLayout, the background image/color is not shown on my window. Instead I always get a light gray background color. Is there something I need to do to allow my background color/image to come through? Set the DrawerLayou

[2014-07-30 08:19] manumaticx commented on #32
Hi @Bradleycorn, I tested and reproduced the issue. I've also proposed a fix. In the meantime you can grab the updated module package from [my fork](https://github.com/manumaticx/Ti.DrawerLayout). Cheers!

[2014-07-30 08:25] #32 closed, assigned to nobody

[2014-07-30 14:31] Bradleycorn commented on #32
Thanks @manumaticx and @metacortex !

[2014-08-05 13:13] manumaticx opened #35 "Actionbar SearchView is not working together with DrawerLayout"
I was just trying to implement a [SearchView](http://docs.appcelerator.com/titanium/latest/#!/api/Titanium.UI.Android.SearchView) but I don't get it working in combination with the drawer.

Do you know a workaround or a way to fix this? I'm not sure what the reason is for this behavior. Hope you can help. Thanks a lot!

[2014-08-27 11:40] timanrebel opened #36 "DrawerLayout must be measured with MeasureSpec.EXACTLY"
I'm trying to use the module on 3.3.0.GA on both Genymotion and a device, but keep getting the following error:

[code]

Code I use:

[code]

( I already stripped out everything that could cause the issue from my app)

Does anyone have a tip or a solution?

[2014-08-27 11:41] timanrebel commented on #36
I use version 1.1.1 from gitt.io btw

[2014-08-27 11:51] manumaticx commented on #36
Hi Timan, you should try replacing `leftDrawerWidth: "240px"` with `leftDrawerWidth: "240dp"`

[2014-08-27 11:53] timanrebel commented on #36
Hi @manumaticx have tried 240, 240dp and 240px.

I have the same issue in another app, just added the demo code there as well..

[2014-08-27 11:55] manumaticx commented on #36
@timanrebel ok, can you test if you get the same error with [version 1.1.5](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/dist/com.tripvi.drawerlayout-android-1.1.5.zip) from my fork?

[2014-08-27 11:59] timanrebel commented on #36
I had already tried that, but.. the code from your `example/app.js` works, so will debug why the error occurs and report back!

[2014-08-27 12:02] timanrebel commented on #36
**Solution**

When creating the Drawer, width and height are mandatory. To fix this error make sure you add width and height:

[code]

I had already forked this repo to improve the documentation in the README. Will add this to the demo code and do a PR

[2014-08-27 12:02] #36 closed, assigned to nobody

[2014-08-27 12:08] timanrebel commented on #36
(and thanks for your quick help @manumaticx)

[2014-08-27 12:10] manumaticx commented on #36
Good finding! I didn't know that. The Drawer should fall back to default values for width and height if they're not set - I'm trying to create a PR for that too!

[2014-08-28 14:18] ankesh27 opened #39 "release version of 1.1.1-fix?"
Hey, Can you please share the release version of 1.1.1-fix ?

Cheers!
Ankesh

[2014-08-28 14:27] manumaticx commented on #39
Hi,

it seems, this repo isn't very well maintained, maybe you want to get a newer version in my [fork](https://github.com/manumaticx/Ti.DrawerLayout/tree/master/dist).

Cheers,
Manuel

[2014-09-24 21:34] nubu opened #40 "Swiping?"
Hey,

thanks for the great module - looking for this in the past :) I was wondering, if it's possible to toggle the right or left views with a swipe instead of click on a button and trigger it manually.

Can't find anything to this in the docs ?!

Best, Nico

[2014-09-24 21:34] #40 closed, assigned to nobody

[2014-09-25 01:05] nubu opened #41 "View Hirachy"
Hey guys,

i am wondering how to open a new (window?) inside the drawer. Like the Centerview shows me a list and then (the detailpage) is a new Window (view?).

The goal is to have the "backarrow" on the actionbar and therefore easy handle going back to the previous view/window.

Is this possible ? Found nothing regarding this.

[2014-09-25 07:15] manumaticx commented on #41
`win.open()` does this by default.

Up ( / back-) Button can be added with `actionbar.displayHomeAsUp = true;`

[2014-09-25 10:35] sakae-nakajima commented on #22
Any progress on this, I am having the same problem. This is easy to reproduce.
- Close my app
- Open memory hungry apps like FB
- Open my app

Black screen with the exception mentioned in the original post.

[2014-09-25 10:43] manumaticx commented on #22
As mentioned above, I fixed this. Not sure why my pull requests aren't merged.

But you can grab an updated version of the module in my fork: https://github.com/manumaticx/Ti.DrawerLayout

It's streets ahead of this one.

[2014-09-25 10:44] sakae-nakajima commented on #22
Thank you very much, I noticed it and I am giving a shot now!

[2014-09-25 10:49] nubu commented on #41
Hey thanks for the response - There isn't antoher way to achieve this with adding the drawer to each new window or?

[2014-09-25 10:50] nubu commented on #7
Any new on this? Without beeing able to use maps the whole great module is sadly not useable for me :(

[2014-09-25 15:44] manumaticx commented on #41
You can't have both, drawer _and_ Up button functionality. You can either create another drawer on the new window or replace the centerView with a new view (instead of opening a new window).

For your use-case I would not add a drawer on your detail page. For example, have a look at the Play Store App:
- ListView (List of apps, with drawer)
- select app to open detailpage
- DetailView (no drawer)

[2014-09-25 16:07] manumaticx commented on #7
I tried to get my head around this again because I also need to work it with maps. I think @mano-mykingdom is about right but `viewProxy.getOrCreateView()` should not be the actual problem because as he said the TiUIMapView is in fact an instance of TiUIFragment but TiUIFragment is again  an instance of TiUIView. The problem seems to appear within the FragmentManager when it fails to resolve the c

[2014-09-25 18:34] nubu commented on #7
Really sad - for now i can work around this, if showing the map only in a new Window to Android Users.

It's a small break but i think it's worth the performance/feeling of the drawer inside of the other 90% of our application.

[2014-09-25 18:37] nubu commented on #41
Hmm yeah - that seems to be right. There is a label telling the user he/she is on "List", "Detail" a "Formular" or whatever view - but you'are right a real indicator is missing.

thanks for the thoughts (i am not an android user)

[2014-09-26 07:39] timanrebel opened #42 "App crashes when language of Android is changed"
When changes the language of Android, the app with DrawerLayout in it crashes with the following stack trace:

[code]

[2014-09-26 12:18] manumaticx commented on #42
Looks like the error in #22
But I can reproduce this even with the bugfixed version.

[2014-09-26 12:21] timanrebel commented on #42
That's weird, cause you would think that the empty constructor would fix that..

[2014-09-26 12:26] timanrebel commented on #42
Do you still have it in 1.1.7 (your Fork)? Seems to be working here. Let me double check

[2014-09-26 12:33] manumaticx commented on #42
I've checked it again with 1.1.7 - it crashes, but with another exception. I get:

[code]

[2014-09-26 12:35] timanrebel commented on #42
Indeed, that one, was just about to post it

[2014-09-26 15:45] manumaticx commented on #42
I think i fixed this. Hopefully I didn't break something because I also fooled around with the content fragment. If you like you can test it with version [1.1.8](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/dist/com.tripvi.drawerlayout-android-1.1.8.zip)

[2014-09-27 12:53] timanrebel commented on #42
Yes, you fixed it! Thanks!

[2014-10-02 11:48] timanrebel commented on #42
One more thing: If I come back in the app after I have switched languages, the first title I have set is displayed in the actionable, not the latest title. In most cases that is the name of the top menu item. If I switch menu items, change language of Android, come back, the title of the first item is set again. I have tested it by setting a random string as the actionbar title. In that case the r

[2014-10-02 14:02] manumaticx commented on #42
Hi Timan,

you are changing the actionbar title (with an internationalized value) corresponding to your navigation menu but it gets reset to the initial value after changing the language? Do you happen to have a little example that I can reproduce this?

[2014-10-03 07:30] timanrebel commented on #42
Let me create a Gist today with test case. Should have done that right away :)

[2014-10-10 22:09] ardiwine commented on #26
Hi @ankesh27

I tried running your sample code with some modification due to missing views etc. but I still could not manage to get it to work

here's the error looks like

[code]

[2014-10-13 09:11] manumaticx commented on #41
@nubu I am sorry but I was not really telling the truth here. Because I was not aware of this navigation pattern but it is described in Android's design guide the way you want to achieve it. They write that you can make the drawer accessible from deeper levels of the navigation hierarchy. So in a detail view you would indeed have both, up _and_ drawer. Sorry for the confusion!

[2014-10-15 11:31] manumaticx opened #43 "Is this project still alive?"
@hiphapis @metacortex @duecorda @vagrantinoz ?

It seems that the collaborators stopped maintaining this module. Does anybody knows what's going on?

[2014-10-16 08:44] battlebottle opened #44 "Crash on small number of android devices"
We've had reports of our app failing to launch on a small number of android devices and Google Play Crash reports suggests it's caused by this module. The two devices are a Galaxy Rugby running Android 4.1 and a Samsung Galaxy Stratosphere2 also running 4.1.

Here's the stack trace:

[code]

The error seems to originate in the `processProperties` method and involves an attempt to cast a `String` a

[2014-10-19 13:21] timanrebel commented on #43
Maybe one of the collaborators should at least at @manumaticx as a collaborator, so he can checkin all changes in this repo? @manumaticx is actively maintaining this project on his own fork right now

[2014-10-19 16:33] timanrebel commented on #19
@manumaticx would you have any idea how to solve this? When I add a TabGroup to the center view it crashes as well. I understand why, a TabGroup is also a Window in Titanium. Maybe we should use a couple of Views with a ViewPager and the DrawerLayout instead

[code]

[2014-10-19 18:49] manumaticx commented on #19
@timanrebel Technically, it would be possible but this is not supported by this module. But I won't implement tab group support for this because it's a kind of anti-pattern to use the Navigation drawer with Actionbar Tabs. Here's a [quote](https://plus.google.com/u/0/+DavidTaSmoochibi/posts/8dWEkFcbTFX) from Roman Nurik:

_"You shouldn't use navigation drawers with action bar tabs. If you're aimin

[2014-10-19 19:43] timanrebel commented on #19
I totally agree that you either have to choose tabs or a nav drawer. In my case I wanted to use this module to display notifications in a right nav drawer, in the same way as Google+ does. But maybe I rewrite the app to use a ViewPager (quite a bit of work), or use something else for the notifications.

Thanks!

[2014-10-20 14:00] manumaticx commented on #43
Alternatively a link to my fork in the readme would be nice. But I would also welcome picking it up if someone [transfers the repo](https://help.github.com/articles/transferring-a-repository/) to my account.

[2014-10-20 16:42] metacortex commented on #43
I have super busy days since this summer, so I couldn't afford my soul to maintain this repo.
I think I can come back in 2 months.

I tried to make @manumaticx collaborator, but there is no way to add someone to organization repo without making someone member of the organization.

[2014-10-21 09:56] ChanakyaSrinivas opened #45 "Picker is not working ?"
HI All,

I have used Ti.DrawerLayout module in my app for android platform using titanium.
I have added one picker to one View (main.xml) and I have added this main view to centerView property of createDrawer.
when I am open my app, I was unable to select the picker data?
Please any one can help me how to solve this problem?

here is my code:

index.xml

[code]

menu.xml

[code]

main.xml

[code]

[2014-11-02 06:13] jonathanrcarter commented on #17
Hi

did you resolve this as I am getting exactly the same error?

[2014-11-03 14:43] ChanakyaSrinivas opened #46 "Picker Change listener is not working ?"
Hi All,

I have added picker to the right contentView of Ti.DrawerLayout module in my app.
When I am change the picker item, picker change listener is not calling.

Please help me, How to solve this issue in titnaium alloy?

[2014-11-11 10:26] manumaticx commented on #46
Hi @ChanakyaSrinivas

is the code in #45 the test case to reproduce this issue?

[2014-11-12 02:14] jeffkanazi commented on #42
Hi,

Is there a problem with the latest code? I used to get drawerclose events on both left and right drawer close but with 1.1.8 there is no longer drawerclose event fired for the right drawer.

Any suggestions on to where to check for this in the code?

[2014-12-13 23:05] felipekk commented on #30
@manumaticx I'm trying to override the default drawer icon like you mentioned, but I'm not able to (yes, I'm using your fork, dist 1.2.0).

[2014-12-15 10:34] manumaticx commented on #30
@felipekk  If the path to the image could not be resolved, then it uses the default drawer. For me it works when I put the image into `app/assets/android/images/res-xxhdpi/drawer.png` (as well as for the other densities) then specify it as `drawerIndicatorImage: "/images/drawer.png"`.

[2014-12-17 09:19] manumaticx commented on #7
@justin3636 @nubu @mano-mykingdom @johnnnysc22 @asterixcapri @metacortex
You guys might want to watch this jira ticket [TIMOB-18244](https://jira.appcelerator.org/browse/TIMOB-18244) to raise its priority.

[2014-12-17 12:59] manojdcoder commented on #7
@manumaticx Thanks for bring this ticket to our attention, I'm watching now.

[2014-12-17 13:02] farfromrefug commented on #7
Just stumbled upon your bug. Wouldn't [that](http://stackoverflow.com/questions/15262261/android-content-res-resourcesnotfoundexception-unable-to-find-resource-id-0xf) simply be the cause?

[2014-12-17 13:10] manumaticx commented on #7
@farfromrefug Thanks for having a look. I've seen this stackoverflow question in order to figure out a solution but didn't get it working. Furthermore, the fragment container does get an id [here](https://github.com/appcelerator/titanium_mobile/blob/master/android/titanium/src/java/org/appcelerator/titanium/view/TiUIFragment.java#L34)

[2014-12-17 13:16] farfromrefug commented on #7
ok. Will try it with my module and report here.

[2014-12-17 14:19] manumaticx commented on #7
I believe the problem is [this part](https://github.com/appcelerator/titanium_mobile/blob/58198c641d77e17d156431666e80bae732b5c130/android/titanium/src/java/org/appcelerator/titanium/view/TiUIFragment.java#L38-L46) where the mapview was adapted to work inside tabs, see [TIMOB-13864](https://jira.appcelerator.org/browse/TIMOB-13864).
This works for mapView in TiUIActionBarTab but it is not a genera

[2015-01-09 07:13] mitulbhalia opened #47 "Mapview does not work with module"
Hi,
I want to integrate map with one the option in menu but when i add mapview, It shows me message "Unfortunately, app has stopped".
Help me to solve this.

[2015-01-09 09:16] manumaticx commented on #47
See #7
You can close this as duplicate issue.

[2015-01-09 09:30] mitulbhalia commented on #47
oh..ok.
I did not see that.

[2015-01-10 15:15] ChanakyaSrinivas opened #48 "WebView is not working?"
Hi All,

I have added WebView to the right contentView of Ti.DrawerLayout module in my app.
I am loading my website through webview in that webview dropdown list options of website not working.

Please help me, How to solve this issue in titnaium alloy?

Here is my code:

index.xml

[code]

menu.xml

[code]

main.xml

[code]

index.js

[code]

If I open my website through webview with out using Ti

[2015-01-10 19:44] manumaticx commented on #48
Hi, do you get any type of error thrown? Do you see an exception in the android logs?

[2015-01-12 04:54] ChanakyaSrinivas commented on #48
Hi, I did't get any error/exception while loading and while clicking dropdown box of webview.

I was unable to find why website functionality is not working in moblie with this module.

[2015-01-12 09:29] manumaticx commented on #48
@ChanakyaSrinivas  Yep, I was able to reproduce this issue. But, to be honest, I have no idea neither why that is nor how to fix it.

[2015-01-21 23:56] mopx commented on #26
Hi @ardiwine did you solve your problem? I'm getting the same error.

[2015-01-22 18:54] ricardoalcocer commented on #26
Guys, I suggest you follow and file issues in either the original repo at [https://github.com/Tripvi/Ti.DrawerLayout](https://github.com/Tripvi/Ti.DrawerLayout), or @manumaticx 's fork at [https://github.com/manumaticx/Ti.DrawerLayout](https://github.com/manumaticx/Ti.DrawerLayout) .  This repo has no activity.  Manuel's is ahead of Tripvi's.

[2015-01-22 19:18] ardiwine commented on #26
@mopx I second @ricardoalcocer to check @manumaticx 's fork

[2015-01-22 21:56] manumaticx commented on #26
@mopx Just to let you know, I've tested this a while ago but didn't came up with a solution on the Drawer side. I'm afraid there's a bug in the view pager module. I recommend you using the official titanium view pager implementation (Ti.UI.ScrollableView) - I have no problems with this within the Drawer.

[2015-01-22 22:20] mopx commented on #26
@manumaticx I'll try doing that, thanks for taking the time to respond.

[2015-01-22 23:33] ricardoalcocer commented on #26
And @manumaticx has a "work-in-progress" Alloy Widget to implement the Pager Title Strip at [https://github.com/manumaticx/pagingcontrol](https://github.com/manumaticx/pagingcontrol)

[2015-02-04 08:25] ChanakyaSrinivas opened #49 "IOS Support?"
Hi All,

I have used this module in titnaium android , but i want use this module in IOS.

I was unable to get this module for IOS.
Can any one help me out , how to  support for IOS?

[2015-02-04 09:49] PierreGUI commented on #49
Hi,
Check out https://github.com/viezel/NappDrawer for drawer on iOS
Cheers

[2015-02-04 11:39] ChanakyaSrinivas commented on #49
Hi,
Thanks for your replay.
If I use another module to achive same type of Ti.DrawerLayout functionality existing code is not used for IOS. It is rewriting the code based on NappDrawer module for IOS.For me It is difficult to change the existing code.
I want use same code for IOS also.

[2015-02-04 12:02] PierreGUI commented on #49
Well unfortunately you can't use the same code since this module's goal is to provide an implementation of Android's native DrawerLayout which is obviously available on Android only.
You could use NappDrawer on both iOS and Android with almost the same code base though.
Good luck !

[2015-02-04 12:11] manumaticx commented on #49
I was working on an alloy widget to create a common API for using Ti.DrawerLayout on Android together with [TiSideMenu](https://github.com/mpociot/TiSideMenu) on iOS on the same code base. It also provides an abstraction layer for the navigation patterns. It's not yet open-source but I'll see if I can get this clean and up on github within the next few weeks and let you know. (but it would also me

[2015-02-09 04:55] pratikbutani commented on #17
Post your XML of main activity.

[2015-02-09 04:57] pratikbutani commented on #17
http://stackoverflow.com/a/28403050/1318946

[2015-02-09 10:04] manumaticx commented on #49
Hey @ChanakyaSrinivas, check this out: [kr.yostudio.drawer](https://github.com/yomybaby/kr.yostudio.drawer)

[2015-03-25 10:05] manumaticx commented on #7
Please follow the testing steps here: [TIMOB-18244](https://jira.appcelerator.org/browse/TIMOB-18244)

[2015-08-27 06:22] ChanakyaSrinivas opened #50 "Request to implement drawericon for action bar left side corner"
I was unable set the drawericon for action bar left side.
Starting with Release  appcelerator 4.0, the action bar icon not display.

Can you help me out how to provide drawericon for action bar.

[2015-10-13 19:39] hyabusa opened #51 "change actionbar color"
is there a way to change action bar coloor in android from black to something else? i am adding "res" in android with custom colors but no changes. if i remove tripvi module, i can see the color changge in action bar. but with tripvi module it always stays black.

[2015-10-13 19:41] manumaticx commented on #51
Hey which version do you use?

[2015-10-14 05:05] hyabusa commented on #51
i am sorry, i guess this module is no more. i posted same question on manumaticx/Ti.DrawerLayout. Using latest 1.3.5

[2015-10-14 08:34] manumaticx commented on #51
Ha, I didn't even noticed that you've opened this issue in the original repo ;)
continuing in https://github.com/manumaticx/Ti.DrawerLayout/issues/51

[2015-11-22 16:54] MahmoudElmoghazy opened #52 "Crash in 5.1.0.GA sdk"
we have a problem in this module in 5.1.0.GA sdk in android
org.appcelerator.titanium.TiActivity cannot be cast to android.support.v7.app.ActionBarActivity
can u help to fix this bug

[2015-11-23 03:16] jerodfritz commented on #52
Work is continued here https://github.com/manumaticx/Ti.DrawerLayout

[2021-06-25 07:23] #17 closed

[2021-10-23 01:28] #20 closed